<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring Security</title>
</head>
<body>
<nav>
    <a href="/home/index">Home</a>::
    <a href="/home/about">About As</a>
    |||
    <a href="/home/admins">Admins</a>::
    <a href="/home/users">Users</a>::
    <a href="/home/authenticated">Authenticate</a>::
    |||
    <a href="/home/thymeleaf1">Thymeleaf 1</a>::
    <a href="/home/thymeleaf2">Thymeleaf 2</a>::
    |||
    <a href="/auth/login/form">Login</a>::
    <a href="/auth/logoff">LogOut</a>
</nav>
</body>
</html>